C:\Users\eric.rocklind\Documents\examensarbete\.gitignore
C:\Users\eric.rocklind\Documents\examensarbete\Frontend\AppConfig\appsettings.Development.Local.json
C:\Users\eric.rocklind\Documents\examensarbete\Backend\appsettings.Development.Local.json